<center>
<div class=" mt-5 mb-5 h-100 justify-content-center align-items-center">
    <h1 class="text-primary" >You haven't added any apps yet.</h1>
    <p class="text-muted">Press the "+" button to add your first app!</p>
</div></center>
