<!-- views/pages/404.ejs -->

<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- import css -->
    <!-- bootstrap -->
    <link rel="stylesheet" href="./static/styles/style.css">

    <!-- import cropper js+css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.min.js"></script>


    <title>404 - Not Found</title>

</head>

<body class="bg-dark">
    <div class="container">
        <div class=" mt-5 mb-5 h-100 justify-content-center align-items-center">
            <h1 class="text-primary" >Oops. The page you were looking for cannot be found</h1>
            <h4 class="text-muted">Error 404, Click <a href="/">here</a> to go home.</h4>
        </div></center>        
        

    </div>
</body>

</html>